n8n/workflows/03_weekly_report_generation.json
{
  "name": "03 — Weekly Report Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000001",
      "name": "Monday 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.BACKEND_URL}}/api/clients/active-list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Webhook-Secret",
              "value": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000002",
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "clients",
        "options": {}
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000003",
      "name": "Split Clients",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_URL}}/api/reports/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Webhook-Secret",
              "value": "={{$env.N8N_WEBHOOK_SECRET}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_id: $json.id,\n  report_type: 'weekly_intelligence',\n  period: 'last_7_days'\n}) }}",
        "options": {}
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000004",
      "name": "Trigger Report Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000010",
      "name": "Poll Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "webhookId": "wf03-poll-wait"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.BACKEND_URL}}/api/reports/latest-for-client?client_id={{ $('Split Clients').item.json.id }}&report_id={{ $('Trigger Report Generation').item.json.report_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Webhook-Secret",
              "value": "={{$env.N8N_WEBHOOK_SECRET}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000006",
      "name": "Fetch Generated Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-report-ready",
              "leftValue": "={{ $json.s3_url || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000007",
      "name": "Report Ready? (has s3_url)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RESEND_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  from: 'DataAutomated <reports@dataautomated.io>',\n  to: [$json.client_email || 'team@dataautomated.io'],\n  subject: '📊 Your Weekly Intelligence Report — ' + new Date().toISOString().slice(0,10),\n  html: '<h2>Your Weekly Intelligence Report is Ready</h2><p>Hi ' + ($json.client_name || 'Valued Client') + ',</p><p>Your weekly intelligence briefing covering the past 7 days is now available. Download it from your reports page — each download uses a freshly minted secure link.</p><p><a href=\"https://app.dataautomated.io/reports\" style=\"background:#4f46e5;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;display:inline-block;\">Download Report</a></p><p>You can also view your live dashboard at <a href=\"https://app.dataautomated.io/dashboard\">app.dataautomated.io</a>.</p>'\n}) }}",
        "options": {}
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000008",
      "name": "Send Weekly Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "jsCode": "const current = typeof $json.attempts === 'number' ? $json.attempts : 0;\nreturn [{ json: { ...$json, attempts: current + 1, max_attempts: 20 } }];"
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000011",
      "name": "Increment Attempts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 540]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-max-attempts",
              "leftValue": "={{ $json.attempts }}",
              "rightValue": "={{ $json.max_attempts }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000012",
      "name": "Max Attempts Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SLACK_BOT_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  channel: '#client-alerts',\n  text: '⚠️ Weekly report not generated for *' + ($json.client_name || $('Split Clients').item.json.name || 'unknown client') + '* — report_id `' + ($('Trigger Report Generation').item.json.report_id || 'unknown') + '` not found after 20 poll attempts (10 min). Check CloudWatch for `report_fetch_skip` or `report generation failed` logs.'\n}) }}",
        "options": {}
      },
      "id": "a3b4c5d6-0003-0003-0003-000000000009",
      "name": "Report Not Yet Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 420]
    }
  ],
  "connections": {
    "Monday 9 AM": {
      "main": [
        [{"node": "Get Active Clients", "type": "main", "index": 0}]
      ]
    },
    "Get Active Clients": {
      "main": [
        [{"node": "Split Clients", "type": "main", "index": 0}]
      ]
    },
    "Split Clients": {
      "main": [
        [{"node": "Trigger Report Generation", "type": "main", "index": 0}]
      ]
    },
    "Trigger Report Generation": {
      "main": [
        [{"node": "Poll Wait 30s", "type": "main", "index": 0}]
      ]
    },
    "Poll Wait 30s": {
      "main": [
        [{"node": "Fetch Generated Report", "type": "main", "index": 0}]
      ]
    },
    "Fetch Generated Report": {
      "main": [
        [{"node": "Report Ready? (has s3_url)", "type": "main", "index": 0}]
      ]
    },
    "Report Ready? (has s3_url)": {
      "main": [
        [{"node": "Send Weekly Briefing", "type": "main", "index": 0}],
        [{"node": "Increment Attempts", "type": "main", "index": 0}]
      ]
    },
    "Increment Attempts": {
      "main": [
        [{"node": "Max Attempts Reached?", "type": "main", "index": 0}]
      ]
    },
    "Max Attempts Reached?": {
      "main": [
        [{"node": "Report Not Yet Ready", "type": "main", "index": 0}],
        [{"node": "Poll Wait 30s", "type": "main", "index": 0}]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "versionId": "a3b4c5d6-0003-0003-0003-000000000012",
  "meta": {
    "instanceId": "dataautomated-local"
  },
  "id": "wf-weekly-report-generation",
  "tags": [
    {"id": "tag-reports", "name": "reports"},
    {"id": "tag-delivery", "name": "delivery"}
  ]
}
