n8n/workflows/04_churn_alert_webhook.json
{
  "name": "04 - Churn Alert Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "churn-alert",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000001",
      "name": "Churn Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "churn-alert-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst provided = headers['x-n8n-webhook-secret'] || headers['X-N8N-Webhook-Secret'] || '';\nconst expected = $env.N8N_WEBHOOK_SECRET || '';\nreturn [{ json: { ...$json, secret_valid: provided !== '' && provided === expected } }];"
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000008",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-secret",
              "leftValue": "={{ $json.secret_valid === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000009",
      "name": "Secret Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-urgent",
              "leftValue": "={{ $json.body.churn_risk_score || 0 }}",
              "rightValue": 0.25,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000002",
      "name": "URGENT? (> 0.25)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SLACK_BOT_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  channel: '#churn-monitor',\n  text: 'URGENT churn risk alert: client_id=' + ($json.body.client_id || 'unknown') + ', churn_risk=' + (((($json.body.churn_risk_score || 0) * 100).toFixed(1))) + '%, themes=' + JSON.stringify($json.body.top_themes || []) + '. Review at http://localhost:3000/insights'\n}) }}",
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000003",
      "name": "Slack URGENT Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 160],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RESEND_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  from: 'DataAutomated <alerts@dataautomated.io>',\n  to: [$json.body.client_email || 'team@dataautomated.io'],\n  subject: 'URGENT: High Churn Risk Detected - Action Required',\n  html: '<h2 style=\"color:#dc2626;\">URGENT Churn Risk Alert</h2><p>A critical churn risk signal has been detected for one of your accounts.</p><table style=\"border-collapse:collapse;width:100%;\"><tr><td style=\"padding:8px;font-weight:bold;\">Client ID:</td><td style=\"padding:8px;\">' + $json.body.client_id + '</td></tr><tr><td style=\"padding:8px;font-weight:bold;\">Churn Risk Score:</td><td style=\"padding:8px;color:#dc2626;font-weight:bold;\">' + ($json.body.churn_risk_score * 100).toFixed(1) + '%</td></tr></table><p><strong>Top Themes:</strong></p><pre>' + JSON.stringify($json.body.top_themes, null, 2) + '</pre><p>Churn is likely within <strong>2-4 weeks</strong>. Immediate intervention recommended.</p><p><a href=\"http://localhost:3000/insights\" style=\"background:#dc2626;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;\">View Full Analysis</a></p>'\n}) }}",
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000004",
      "name": "Send URGENT Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-early-warning",
              "leftValue": "={{ $json.body.churn_risk_score || 0 }}",
              "rightValue": 0.15,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000005",
      "name": "Early Warning? (> 0.15)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.RESEND_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  from: 'DataAutomated <alerts@dataautomated.io>',\n  to: [$json.body.client_email || 'team@dataautomated.io'],\n  subject: 'Churn Early Warning - Elevated Risk Detected',\n  html: '<h2 style=\"color:#d97706;\">Churn Early Warning</h2><p>An elevated churn risk signal has been detected. This is an early warning - proactive intervention now can prevent churn.</p><table style=\"border-collapse:collapse;width:100%;\"><tr><td style=\"padding:8px;font-weight:bold;\">Client ID:</td><td style=\"padding:8px;\">' + $json.body.client_id + '</td></tr><tr><td style=\"padding:8px;font-weight:bold;\">Churn Risk Score:</td><td style=\"padding:8px;color:#d97706;font-weight:bold;\">' + ($json.body.churn_risk_score * 100).toFixed(1) + '%</td></tr></table><p><strong>Top Themes:</strong></p><pre>' + JSON.stringify($json.body.top_themes, null, 2) + '</pre><p>Churn is possible within <strong>2-4 weeks</strong> if not addressed.</p><p><a href=\"http://localhost:3000/insights\" style=\"background:#d97706;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;\">View Analysis</a></p>'\n}) }}",
        "options": {}
      },
      "id": "a4b5c6d7-0004-0004-0004-000000000006",
      "name": "Send Early Warning Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 460]
    },
    {
      "parameters": {},
      "id": "a4b5c6d7-0004-0004-0004-000000000007",
      "name": "Below Threshold",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1400, 640]
    },
    {
      "parameters": {},
      "id": "a4b5c6d7-0004-0004-0004-000000000010",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [920, 520]
    }
  ],
  "connections": {
    "Churn Alert Webhook": {
      "main": [
        [
          {
            "node": "Validate Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret": {
      "main": [
        [
          {
            "node": "Secret Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret Valid?": {
      "main": [
        [
          {
            "node": "URGENT? (> 0.25)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URGENT? (> 0.25)": {
      "main": [
        [
          {
            "node": "Slack URGENT Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send URGENT Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Early Warning? (> 0.15)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Early Warning? (> 0.15)": {
      "main": [
        [
          {
            "node": "Send Early Warning Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Below Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "versionId": "a4b5c6d7-0004-0004-0004-000000000001",
  "meta": {
    "instanceId": "dataautomated-local"
  },
  "id": "wf-churn-alert-webhook",
  "tags": [
    {
      "id": "tag-churn",
      "name": "churn"
    },
    {
      "id": "tag-alerts",
      "name": "alerts"
    },
    {
      "id": "tag-voc",
      "name": "voc"
    }
  ]
}
